<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=divice-width" />
		<title>Title</title>
		<link rel="stylesheet" href="{% static 'style.css' %}" />
	</head>
	<body>
		<div class="container">
			<div class="header">둘째</div>

			<div class="in">
				<ul>
					{% for list in messageList %}
					<li>
						<p class="msg_y">{{list.message_content}}</p>

						<span class="time">{{list.message_sent_time}}</span>
						{% endfor %}
					</li>

					<div class="tooltip">피싱메시지로 의심돼요.</div>
				</ul>
			</div>

			<input type="text" class="" placeholder=" 입력 " />
		</div>
	</body>
</html>
